<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../estilo_Portifolio.css">
    <title>Portifolio</title>

</head>
    
<body>


    <h1>Meu Portifolio</h1>
		 <p>
			Esta em construção
		 </p>

         <form action="../../index.html">

			<input type="submit" value="  Página inicial" />
            <br>
            <br>

		</form>

    
         <form action="index.html">
			<input type="submit" value="Perfil" />
            <br>
            <br>

		</form>
        

        <form action="../../Otica/Pagina_Otica-1.html">
			<input type="submit" value=" Ótica" />
            <br>
            <br>
        </form>

        <form action="../../Restaurante/cardapio.html">
                <input type="submit" value="Clique Para ir ao Restaurante" />
                <br>
                <br>
            </form>
</body>
</html>