<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8"/>
		<title>Meu Perfil</title>
		
		
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;0,700;1,400&display=swap" rel="stylesheet">
		<link rel="stylesheet" href="../estilo.css">

		
	</head>
		
	<body>	
	<div class="header">
		<div class="home">
            <a href="../../index.html">Home</a>
             
        </div>
		
		 <h1>Valquiria Santos Pauletto</h1>
		 
		 
		 <img class="Val" src="../Val.jpg" alt="Val">
	</div>
	
	<div class="about">
		<h2>Sobre mim</h2>
		<p> Formada em Gestão em Recursos Humanos, estudante de Pedagogia em transição de carreira. Sou apaixonada por programação, amo aprender coisas novas.</p>
	</div>
		
	
	<div class="detalhes">
		<h2> Portifólio</h2>
		<form action="index2.html">
			<input type="submit" value="Clique Para conhecer" />
		</form>
			
			<br>
			<span class="negrito">Localização:</span> <p>Sumaré - SP</p>
	</div>

	<div class="footer">
			
			<img src="../ico_insta.png" class="ico"/>
			<img src="../ico_twitter.png"  class="ico"/>
			<img src="../ico_facebook.png" class="ico"/>
			
	</div>			
	</body>
</html>