body { 
  padding: 20px;
  background-image: linear-gradient(rgba(145, 12, 12, 0.925),rgb(238, 161, 17),rgb(238, 238, 29));
  
    color:#fff ;

}
header{
    text-align: center;
}

h1 {
    font-size: 40pt;
}

h2{
    
    color: #fff;
    font-size: 30px;
    transition: 2s;
    background-color: rgba(145, 12, 12, 0.925);
    border-radius: 5%;
    text-align: center;
}


h3{
    

    color: maroon;
    font-size: 30px;
}

 p{
    color: black;
    font-size: 25px;

    

 }
    a {
       color: #fff; 
       font-weight: bold;
       font-size: larger;
    }
    .home {
    text-align-last: right;
    margin-top: 0px;
    color: #fff;
    font-size: large;
    
 }
 
 .img-container {
    border-style: solid;
    border-radius: 8%;
    border-color: black;
    padding: 10px;
    width: min-content;
    background-color: rgb(121, 57, 4);
 }

#cardapio{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-top: 80px;
   

}

#cardapio, img {
    padding: 5px;
    widows: 300px;
    height: 200px;
    border-radius: 5px;
    
      

}


#itens {
    display: flex;
    flex-direction: column;
    text-align: center;
     margin: 10px;
     
}



    
    