
* {
    font-family: 'Ubuntu', sans-serif;	
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    background-color:whitesmoke;
  }


nav{
display: inline-flex;
position: relative;



}

.container {
    display: block;
    flex: content;
    margin: 5px;
    

}

a {
  display: inline;
  text-align: justify;
}